/*!
 * Cafeeiro Css 1.0
 * Hp / Ufcg - FRH Analytics
 */

#prediction_pane #central_bar #model_comparison_pane #parameters_submit #att_list, 
#prediction_pane #central_bar #model_comparison_pane #parameters_submit #metric_list {
	height:150px; 
	width:100%;
}

.hero-unit {
	text-align:center;
  	padding: 30px !important; /* default is 60px; */
}