/*!
 * Cafeeiro Css 1.0
 * Hp / Ufcg - FRH Analytics
 */

 #titulo{
	text-align:center;
	margin-top:-40px;
 }

 #search_type{
 	margin-left:40px;
 }

#prediction_model_comparison_pane{
	text-align: left;
 	margin-left:5px;
 	margin-bottom:5px;
}

